/* estilos gerais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* main header */
#main-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 60px 0;
}

#main-header h1 {
  font-size: 5.625rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #0f3c80;
  margin-bottom: 20px;
}

#main-header input {
  width: 800px;
  padding: 10px;
  border-radius: 10px;
  border: 3px solid #24325f;
  color: #24325f;
}

/*cards*/

#container-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #0f3c80;
  padding: 60px 20px;
}

.card {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 575px;
  display: flex;
  border-radius: 10px;
  background-color: #24325f;
  margin-bottom: 20px;
}

.card img {
  border-radius: 10px 0 0 10px;
}

.info-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 5px 15px;
  color: #69c8ec;
}

.status-alive::before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #7cf448;
  margin-right: 5px;
}

.status-dead::before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: crimson;
  margin-right: 5px;
}

.status-unknown::before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ccc;
  margin-right: 5px;
}

.location-info, .character-info {
  margin-bottom: 5px;
}

.location-info {
  color: #6a76bf;
}

#img-portal {
  display: block;
  margin: 0 auto;
}

/* botoes */
#container-paginacao {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

#container-paginacao button {
  width: 80px;
  margin: 0 2px 5px 2px;
  background-color: #318bbe;
  color: #0f3c80;
  border-radius: 5px;
  padding: 5px 10px;
  border: 1px #0f3c80 solid;
}

#container-paginacao button:hover {
  background-color: #0f3c80;
  color: #318bbe;
}

/* footer */
footer {
  background-color: #0f3c80;
  color: #318bbe;
  padding: 80px 20px 20px 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#info-footer {
  display: flex;
  justify-content: center;
  margin-bottom: 120px;
}

#info-footer p {
  font-weight: bold;
  text-transform: uppercase;
  margin-left: 20px;
}

#copy {
  font-size: .75rem;
  text-align: center;
  font-weight: bold;
}

#copy span {
  color: white
}

/*tablet*/
@media (min-width: 577px) and (max-width: 992px) {
  #main-header {
    flex-direction: column;
    align-items: center;
  }

  #main-header h1 {
    font-size: 2.75rem;
  }

  #main-header input {
    max-width: 400px;
    border: 2px solid #24325f;
  }
}

/* mobile */
@media (max-width: 576px) {
  /* main-header mobile */
  #main-header {
    flex-direction: column;
    align-items: center;
  }

  #main-header h1 {
    font-size: 1.5rem;
    text-align: center;
  }

  #main-header input {
    max-width: 300px;
    border: 1px solid #24325f;
  }

  /* cards mobile */

  #container-cards {
    padding: 30px 10px;
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 300px;
  }

  .card img {
    width: 150px;
  }

  .info-card {
    padding: 5px;
  }

  .info-card h2 {
    font-size: .75rem;
  }

  .info-card p {
    font-size: 0.7rem;
  }

/* footer-mobile */
  footer {
    padding: 40px 10px 10px 10px;
  }

  #info-footer {
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
  }

  #info-footer p {
    margin-bottom: 10px;
    font-size: 0.75rem;
  }

  .status-alive::before, .status-dead::before, .status-unknown::before {
    width: 6px;
    height: 6px;
  }
}
