/*header*/
.input-group-text {
  background-color: #fff;
  border: var(--bs-border-width) solid #39ff14;
  cursor: pointer;
}

.form-control {
  border: var(--bs-border-width) solid #39ff14;
  border-right-width: 0;
}

.form-control:focus {
  border-color: #39ff14;
  border-right-width: 0;
  box-shadow: 0 0 0 0;
}

h1 {
  color: #489529;
}

.nome-personagem, .span-info {
  color: #39ff14
}

/* main */
main {
  background-color: #252525;
  background-image: linear-gradient(0deg, #252525 0%, #262626 90%, #489529 100%)
}

.card {
  background-color: transparent ;
  color: white;
  border: 1px solid #39ff14;
}

.status::before {
  content: '';
  display: inline-block;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  margin-right: 5px;
}

.alive::before {
  background-color: #39ff14;
}

.dead::before {
  background-color: crimson;
}

.unknown::before {
  background-color: #ccc;
}

.bg-image {
  height: 1000px;
  background-image: url('../imgs/FUNDO_2.jpg'); 
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

/* pagination */
.active > .page-link {
    background-color: #39ff14;
    color: #252525;
    border-color: #39ff14;
  }  

.page-link, #voltar {
	color: #39ff14;
	cursor: pointer;
	background-color: #252525;
	border-color: #39ff14;
}

.page-link:hover, #voltar:hover {
  color: #39ff14;
  background-color: seagreen;
  border-color: #39ff14;
}

.active > .page-link:hover {
  background-color: seagreen;
  color: #39ff14;
}

.disabled > .page-link {
  color: seagreen;
  background-color:#262626;
  border-color: #39ff14;
}

.cursor-pointer {
  cursor: pointer;
}


/* footer */
footer {
  background-color: #489529;
  color: #252525;
}

/* Animação */
.fade-in-title {
  opacity: 0;
  animation: fade-in 1s ease-in-out forwards;
}

.fade-in-input {
  opacity: 0;
  animation: fade-in 2s ease-in-out forwards;
}

.fade-in-content {
  opacity: 0;
  animation: fade-in 3s ease-in-out forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  } to {
    opacity: 1;
  }
}

/* MEDIA QUERIES */
/* mobile */
@media (max-width: 768px) {
  h1 {
    font-size: 6rem;
  }

  .nome-personagem {
    font-size: 2.5rem;
    text-align: center;
  }

  .dlInfo {
    font-size: 2rem;
  }

  .bg-image {
    height: 300px;
  }

}

 /* medium */
@media (min-width: 769px) and (max-width: 991px) {
  h1 {
    font-size: 3.5rem;
  }

  .nome-personagem {
    font-size: 2.5rem;
  }

  .dlInfo {
    font-size: 2rem
  }

  .bg-image {
    height: 400px;
  }
}

/* large */
@media (min-width: 992px) and (max-width: 1399px) {
  h1 {
    font-size: 5rem;
  }

  .dlInfo {
    font-size: 1.75rem
  }

}

/* Extra large */
@media (min-width: 1400px) {
  h1 {
    font-size: 5rem;
  }

}